@import './../../styles/color.scss';

.info {
  height: 85vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.info__text {
  color: $text-color;
  font-size: 14px;
}

.info__title {
  color: $color-main;
  font-size: 36px;
  font-weight: bold;
}
