@import './../../styles/color.scss';

.header {
  background-color: $color-main;
  height: 102px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 33px 26px;
}

.header__buttons {
  display: flex;
}

.header__logo {
  fill: $color-second;
  width: 147px;
  height: 56px;
}

.header__filter-button {
  margin-left: 56px;
}

.header__menu-button {
  display: none;
}

.header__navigation {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.header__link {
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  color: $color-second;
  display: inline;

  &:not(:last-child) {
    margin-right: 45px;
  }
}

.header__link--active {
  border-bottom: 2px solid $color-second;
  padding-bottom: 4px;
}

.header__filter-image {
  fill: $color-second;
  width: 40px;
  height: 40px;
  padding: 6px;
}

.header__filter-image--active {
  fill: $active-filter;
  border-radius: 5px;
  border: 2px solid $active-filter;
}

@media (max-width: 768px) {
  .header__link {
    display: none;
  }

  .header__menu-button {
    display: block;
    margin-left: 45px;
  }

  .header__filter-button {
    margin: 0;
  }
}
